@model AirlineSystem.ScheduleTrip



@using (Html.BeginForm())
{
<table align="center">
    @Html.HiddenFor(x=>x.TripName)
    <tr>
        <td>  <h2>Eidt Schedule Trip [@Model.TripName]</h2> </td>
    </tr>
    <tr>
        <td> @Html.LabelFor(x => x.PlaceFrom) </td>
        <td> @Html.EditorFor(x => x.PlaceFrom) </td>
        <td>@Html.ValidationMessageFor(x => x.PlaceFrom)</td>

    </tr>
    <tr>
        <td>  @Html.LabelFor(x => x.PlaceTo) </td>
        <td>  @Html.EditorFor(x => x.PlaceTo) </td>
        <td>@Html.ValidationMessageFor(x => x.PlaceTo)</td>

    </tr>
    <tr>
        <td> @Html.LabelFor(x => x.Depature_Time) </td>
        <td>  <input type="time" name="Depature_Time" id="Depature_Time" /> </td>
        <td>@Html.ValidationMessageFor(x => x.Depature_Time)</td>

    </tr>
    <tr>
        <td>   @Html.LabelFor(x => x.Arrival_Time) </td>
        <td>   <input type="time" name="Arrival_Time" id="Arrival_Time" /> </td>
        <td>@Html.ValidationMessageFor(x => x.Arrival_Time)</td>

    </tr>
    <tr>
        <td> @Html.LabelFor(x => x.Duration) </td>
        <td> @Html.EditorFor(x => x.Duration) </td>
    </tr>
    <tr>
        <td> @Html.LabelFor(x => x.NoP) </td>
        <td> @Html.EditorFor(x => x.NoP) </td>
        <td>@Html.ValidationMessageFor(x => x.NoP)</td>

    </tr>
    <tr>
        <td><button type="submit">Save</button></td>
    </tr>
</table>
}